
body {
  background-color: #EEE;
}

h1, h2, h3, .label-info{
  font-family: 'Lato', sans-serif;
}

.box header {
  margin-top: 30px;
  padding: 30px;
  border-bottom: 1px solid #fff;
  color:white;
  background:#222222;
}
.box header h1 {
  margin-bottom: 10px;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.example_row {
  padding: 30px;
  overflow: auto;
}

.example_box {
  /*display: inline-block;*/
  float: left;
  padding: 8px;
  width: 200px;
}

.example_row .img_wrapper {
  position: relative;
}

.example_row .img_wrapper img {
  width: 200px;
  height: 130px !important;

}
.example_row .img_wrapper .img_hover {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  display: none;
}

.example_row .img_wrapper .img_hover a {
  /*display: block;*/
  position: absolute;
  margin-left: -30px;
  margin-top: -15px;
  padding: 10px 12px;
  font-size: 15px;
  background: #333;
  color: white;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  text-decoration: none;
}

.example_row .img_wrapper:hover .img_hover {
  display: block;
}

.example_box:hover {
  background: #DDD;
}

.example_box h2 {
  font-size: 17px;
  line-height: 20px;
  padding: 5px 0;
}

.example_box h2 a {
  color: #333;
}

